Build
DerivedData
*.xcworkspace/xcuserdata
*.xcworkspace/xcshareddata
*/*.xcodeproj/project.xcworkspace/xcuserdata
*/*.xcodeproj/project.xcworkspace/xcshareddata
*/*.xcodeproj/xcuserdata
*/*.xcodeproj/xcshareddata