Build
DerivedData
*.xcworkspace/xcuserdata
*.xcworkspace/xcshareddata
Juggle/Juggle.xcodeproj/project.xcworkspace/xcuserdata
Juggle/Juggle.xcodeproj/project.xcworkspace/xcshareddata
Juggle/Juggle.xcodeproj/xcuserdata

JetIMDemo/JetIMDemo.xcodeproj/project.xcworkspace/xcuserdata
JetIMDemo/JetIMDemo.xcodeproj/project.xcworkspace/xcshareddata
JetIMDemo/JetIMDemo.xcodeproj/xcuserdata
JetIMDemo/JetIMDemo.xcodeproj/xcshareddata

QuickStart/QuickStart.xcodeproj/xcuserdata